@{
    ViewBag.Title = "About";
}
<br /><br />
<h1 class="text-center">@ViewBag.Title us</h1>
<h4 class="text-center">MyMusic is a free web app, was created as a team project.<br />Use it to explore music tracks and enjoy your time.</h4>

<p class="text-center">For more information visit contact page.</p>
