@{
    ViewBag.Title = "Contact";
}
<br/><br/>
<div class="text-center">
    <h1>@ViewBag.Title us</h1>
    <h3>Information for contact</h3>

    <address>
        MyMusic Store<br />
        Karaoli & Dimitriou 80, Pireas 185 34<br />
        <abbr title="Phone">P:</abbr>
        21 0414 2000
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>
</div>